.cardInfo {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.name {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
}

.contentWrapper button {
  align-self: flex-end;
  margin-top: 15px;
  text-transform: none;
  width: 50%;
}
