.footerWrapper {
  background-color: #1976d2;
  bottom: 0;
  color: white;
  left: 0;
  min-height: 40px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1000000;
}

.footerWrapper button {
  color: white;
  text-transform: none;
}
